flows.json
[{"id":"3bb904b.9e4e6fc","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"533ae780.f74aa8","type":"function","z":"3bb904b.9e4e6fc","name":"PreToken","func":"global.set(\"Id\",msg.payload.Id)\nglobal.set(\"Age\",msg.payload.Age)\nglobal.set(\"Bp\",msg.payload.Bp)\nglobal.set(\"Sg\",msg.payload.Sg)\nglobal.set(\"Al\",msg.payload.Al)\nglobal.set(\"Su\",msg.payload.Su)\nglobal.set(\"Rbc\",msg.payload.Rbc)\nglobal.set(\"Pc\",msg.payload.Pc)\nglobal.set(\"Pcc\",msg.payload.Pcc)\nglobal.set(\"Ba\",msg.payload.Ba)\nglobal.set(\"Bgr\",msg.payload.Bgr)\nglobal.set(\"Bu\",msg.payload.Bu)\nglobal.set(\"Sc\",msg.payload.Sc)\nglobal.set(\"Sod\",msg.payload.Sod)\nglobal.set(\"Pot\",msg.payload.Pot)\nglobal.set(\"Hemo\",msg.payload.Hemo)\nglobal.set(\"Pcv\",msg.payload.Pcv)\nglobal.set(\"Wc\",msg.payload.Wc)\nglobal.set(\"Rc\",msg.payload.Rc)\nglobal.set(\"Htn\",msg.payload.Htn)\nglobal.set(\"Dm\",msg.payload.Dm)\nglobal.set(\"Cad\",msg.payload.Cad)\nglobal.set(\"Appet\",msg.payload.Appet)\nglobal.set(\"Pe\",msg.payload.Pe)\nglobal.set(\"Ane\",msg.payload.Ane)\nvar apikey=\"9360R8AFn1AB_i568cg1xWJGxxoMjr39p-r_r6dJz03u\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":560,"y":440,"wires":[["eda167a7.cb57f8"]]},{"id":"eda167a7.cb57f8","type":"http request","z":"3bb904b.9e4e6fc","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":759,"y":428.9999952316284,"wires":[["758d03a0.2e4f4c"]]},{"id":"8bc896b0.6fa978","type":"debug","z":"3bb904b.9e4e6fc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1198.0000114440918,"y":170.99999713897705,"wires":[]},{"id":"758d03a0.2e4f4c","type":"function","z":"3bb904b.9e4e6fc","name":"Pre Prediction","func":"var Id = global.get(\"Id\")\nvar Age = global.get(\"Age\")\nvar Bp = global.get(\"Bp\")\nvar Sg = global.get(\"Sg\")\nvar Al = global.get(\"Al\")\nvar Su = global.get(\"Su\")\nvar Rbc = global.get(\"Rbc\")\nvar Pc = global.get(\"Pc\")\nvar Pcc = global.get(\"Pcc\")\nvar Ba = global.get(\"Ba\")\nvar Bgr = global.get(\"Bgr\")\nvar Bu = global.get(\"Bu\")\nvar Sc = global.get(\"Sc\")\nvar Sod = global.get(\"Sod\")\nvar Pot = global.get(\"Pot\")\nvar Hemo = global.get(\"Hemo\")\nvar Pcv = global.get(\"Pcv\")\nvar Wc = global.get(\"Wc\")\nvar Rc = global.get(\"Rc\")\nvar Htn = global.get(\"Htn\")\nvar Dm = global.get(\"Dm\")\nvar Cad = global.get(\"Cad\")\nvar Appet= global.get(\"Appet\")\nvar Pe= global.get(\"Pe\")\nvar Ane= global.get(\"Ane\")\nvar token=msg.payload.access_token\nvar instance_id=\"8b31a317-9efd-48f8-81fa-243d8d770cac\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload={\"input_data\": [{\"fields\": [\"id\", \"age\", \"bp\", \"sg\", \"al\", \"su\", \"rbc\", \"pc\", \"pcc\", \"ba\", \"bgr\", \"bu\", \"sc\", \"sod\", \"pot\", \"hemo\", \"pcv\", \"wc\", \"rc\", \"htn\", \"dm\", \"cad\", \"appet\", \"pe\", \"ane\"],\"values\": [[Id, Age, Bp, Sg, Al, Su, Rbc, Pc, Pcc, Ba, Bgr, Bu, Sc, Sod, Pot, Hemo, Pcv, Wc, Rc, Htn, Dm, Cad, Appet, Pe, Ane]]}]}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":940,"y":380,"wires":[["a8b31eae.45362"]]},{"id":"a8b31eae.45362","type":"http request","z":"3bb904b.9e4e6fc","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://eu-gb.ml.cloud.ibm.com/v4/deployments/447eab3d-9bf6-4c1e-92da-383851729034/predictions","tls":"","persist":false,"proxy":"","authType":"","x":1110,"y":300,"wires":[["1c1fbc48.e9e124"]]},{"id":"58ac2b0b.cc04e4","type":"ui_form","z":"3bb904b.9e4e6fc","name":"","label":"Health Factors","group":"cc5876ae.c52288","order":1,"width":0,"height":0,"options":[{"label":"id","value":"Id","type":"number","required":true,"rows":null},{"label":"age","value":"Age","type":"number","required":true,"rows":null},{"label":"bp","value":"Bp","type":"number","required":true,"rows":null},{"label":"sg","value":"Sg","type":"number","required":true,"rows":null},{"label":"al","value":"Al","type":"number","required":true,"rows":null},{"label":"su","value":"Su","type":"number","required":true,"rows":null},{"label":"rbc","value":"Rbc","type":"text","required":true,"rows":null},{"label":"pc","value":"Pc","type":"text","required":true,"rows":null},{"label":"pcc","value":"Pcc","type":"text","required":true,"rows":null},{"label":"ba","value":"Ba","type":"text","required":true,"rows":null},{"label":"bgr","value":"Bgr","type":"number","required":true,"rows":null},{"label":"bu","value":"Bu","type":"number","required":true,"rows":null},{"label":"sc","value":"Sc","type":"number","required":true,"rows":null},{"label":"sod","value":"Sod","type":"number","required":true,"rows":null},{"label":"pot","value":"Pot","type":"number","required":true,"rows":null},{"label":"hemo","value":"Hemo","type":"number","required":true,"rows":null},{"label":"pcv","value":"Pcv","type":"number","required":true,"rows":null},{"label":"wc","value":"Wc","type":"number","required":true,"rows":null},{"label":"rc","value":"Rc","type":"number","required":true,"rows":null},{"label":"htn","value":"Htn","type":"text","required":true,"rows":null},{"label":"dm","value":"Dm","type":"text","required":true,"rows":null},{"label":"cad","value":"Cad","type":"text","required":true,"rows":null},{"label":"appet","value":"Appet","type":"text","required":true,"rows":null},{"label":"pe","value":"Pe","type":"text","required":true,"rows":null},{"label":"ane","value":"Ane","type":"text","required":true,"rows":null}],"formValue":{"Id":"","Age":"","Bp":"","Sg":"","Al":"","Su":"","Rbc":"","Pc":"","Pcc":"","Ba":"","Bgr":"","Bu":"","Sc":"","Sod":"","Pot":"","Hemo":"","Pcv":"","Wc":"","Rc":"","Htn":"","Dm":"","Cad":"","Appet":"","Pe":"","Ane":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":381,"y":482.9999952316284,"wires":[["533ae780.f74aa8"]]},{"id":"60b08b21.fedca4","type":"ui_text","z":"3bb904b.9e4e6fc","group":"cc5876ae.c52288","order":2,"width":0,"height":0,"name":"","label":"Classification","format":"{{msg.payload}}","layout":"row-spread","x":1097.6000366210938,"y":488.20000743865967,"wires":[]},{"id":"1c1fbc48.e9e124","type":"function","z":"3bb904b.9e4e6fc","name":"","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":909.6000366210938,"y":231.60000133514404,"wires":[["60b08b21.fedca4","8bc896b0.6fa978"]]},{"id":"cc5876ae.c52288","type":"ui_group","z":"","name":"Health Factors","tab":"5f479a80.8d7514","order":1,"disp":true,"width":"6","collapse":false},{"id":"5f479a80.8d7514","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]